<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <link rel="icon" href="/images/favicon.ico">
    <title>Dashboard</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/dashboard/">


<link href="/css/dashboard.css" rel="stylesheet">

    <style>

    .container{
      margin-top: 8%;
    }

    .inner{
      overflow: hidden;
    }
.inner img{
  transition: all 1.5s ease;
}

.inner:hover img{
  transform: scale(1.5);
}

    body{
      margin:10px;
    }

    .sidebar-sticky{
      margin-left: 10px;
    }

    .card{
      margin-top: 41px;
      min-width: 300px;
    }
    .product-btn{
      height: 32px;
padding-bottom: 27px;
margin-right: 8px;
padding-top: 2px;
background-color: white;
color: gray;

    }
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

  </head>
  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">WhiteFalls</a>
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/dashboard">Home</a>
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/Contact">Contact</a>
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/About">About</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div style="position:relative;" class="">
    <form class="" action="/dashboard/SearchResults(buyer)" method="post">
      <input list="autocomplete" class="form-control form-control-dark w-100" type="text" placeholder="Search Product Names" aria-label="Search">
      <datalist id="autocomplete">
        <% AllProducts.forEach(function(product){ %>
          <option value=<%= product.ProductName %>  ></option>
      <%  }); %>
      </datalist>
      <button style="position:absolute; left:80%; top : -3%;" class="btn btn-warning" type="submit" name="button">Go</button>
    </form>
  </div>  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="/logout">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">

        <h6 style="background-color: Yellow; height : 69px;" class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span style="font-size: 24px;">All categories</span>
          <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/Fruits-Vegetables">
              Fruits/Vegetables
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/Men'sWear">
              Men's Wear
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/Women'sWear">

              Women's Wear
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/Shoes">

              Shoes
            </a>
          </li>
          <li class="nav-item">
            <a style="border : 1px solid red; border-radius : 15px;" class="nav-link" href="/dashboard/HomeAccomidites">

              Home accomodities
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/Stationery">

              Stationery
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/Utensils">

              Utensils
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/DecorativeThings">

              Decorative things
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/Chocolates">

              Chocolates
            </a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" href="/dashboard/others">

              Others
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Welcome <%= fullName %></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <form action="/dashboard/mycart" method="get">
              <button style="margin-right : 8px;" type="submit" class="btn btn-sm btn-outline-secondary">My Cart</button>
            </form>
            <form action="/dashboard/orderHistory" method="get">
               <button type="submit" class="btn btn-sm btn-outline-secondary">Order History</button>
           </form>
          </div>
          <form action="/dashboard/profile" method="get">
            <button type="submit" class="btn btn-sm btn-success">
              Profile
            </button>
          </form>

        </div>
      </div>
<div class="container">


      <div class="row justify-content-center">


            <% if(AllProducts.length > 0){ %>
              <% AllProducts.forEach(function(product){ %>
          <div class="col-md-4">
            <div class="card shadow" style="width : 20rem;">
              <div class="inner" style="border-bottom: 3px solid green;border-radius: 142px;">
                <img class="card-img-top" src="..\uploads\<%= product.Image %>" alt="Card image cap">
              </div>
              <div class="card-body">
                <h5 class="card-title">Seller-Name : <%= product.Username %></h5>
                <h5 class="card-title">Product-Name : <%= product.ProductName %></h5>
                <h5 class="card-title">Price : <%= product.Price %></h5>
                <h5 class="card-title">Quantity Available : <%= product.Quantity %></h5>
                <p class="card-text">Description : <%= product.Description %></p>
              </div>
              <div style="text-align : center; background: blueviolet;" class="card-footer">
                <form class="" action="/dashboard/myCart/<%= product._id %>" method="post">
                  <label style = "font-size : 21px; color:white;" for="quantity">Quantity</label>
                  <input style = "margin-bottom:  19px;" type="number"  name="quantity" min="1" max="<%= product.Quantity %>" value=1>
                  <% var added = false; %>
                  <% for(var j = 0; j< cart.length ; j++){ %>
                  <% if(cart[j] == product.ProductID){ %>
                    <%  added = true; break; %>

                  <%  } else{ added = false }} %>
                  <% if(added == true){ %>
                    <button  class="btn btn-danger" type="submit" name="button" disabled >Added</button>
                  <% } else{ %>
                    <button  class="btn btn-danger" type="submit" name="button" >Add to Cart</button>
                <%  } %>
                 </form>
              </div>
            </div>
          </div>
        <% }); %>
        <% } %>


      </div>
</div>
    </main>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</html>
