<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style media="screen">
      .outerBox{

        border: 2px solid black;
        padding: 30px;;
        margin-bottom: 50px;
      }
      .heading{
        text-align: center;
        margin-top : 50px;
        margin-bottom: 20px;
      }
    </style>
    <title>WhiteFalls</title>
  </head>
  <body>

    <h1 class="display-4 heading">Edit Details</h1>
    <div style="text-align: center;" class="container-sm outerBox">
      <div  class="errors">
        <% if(success_msg != ''){ %>
          <h4 style = "background-color : lightgreen; padding-left : 20px;"><%= success_msg %></h4>
      <%  } %>
      </div>
      <button style="margin-right : 91px" type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter1">
        Edit Without Image
      </button>
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter2">
        Edit With Image
      </button>

      <div style="text-align : left;" class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Product ID : <%= editProduct.ProductID %></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
      <div class="modal-body">



    <form action="/editProductsWithoutImage"  method="get">
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputEmail4">Product Name</label>
      <input  name="productName"type="text" class="form-control" id="inputEmail4" value="<%= editProduct.ProductName %>" >
    </div>
    <div class="form-group col-md-3">
      <label for="inputPassword4">Price</label>
      <input name="price" type="text" class="form-control" id="inputPassword4" value="<%= editProduct.Price %>" >
    </div>

  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputPassword4">Quantity</label>
      <input name="quantity" type="text" class="form-control" id="inputPassword4" value="<%= editProduct.Quantity %>" >
    </div>

  </div>
  <label for="category">Select Category</label>

<select style="margin-bottom : 20px;" name="category" class="form-control col-md-3" value="<%= editProduct.Category %>" required="true">
  <option value="" selected disabled hidden>Choose here</option>
  <option  value="Fruits/Vegetables">Fruits/Vegetables</option>
  <option  value="Chocolates">Chocolates</option>
  <option  value="Decorative Things">Decorative Things</option>
  <option  value="Home accomodities">Home accomodities</option>
  <option  value="Shoes">Shoes</option>
  <option  value="Stationery">Stationery</option>
  <option  value="Utensils">Utensils</option>
  <option  value="Men's Wear">Men's Wear</option>
  <option  value="Women's Wear">Women's Wear</option>
</select>
  <div class="form-group">
    <label for="inputAddress">Add some description</label>
    <input name="description" type="text" class="form-control" id="inputAddress" value="<%= editProduct.Description %>" >
  </div>



  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>
</div>
</div>
<!-- Button trigger modal -->


<!-- Modal -->
<div style="text-align : left;" class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Product ID : <%= editProduct.ProductID %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/editProducts" enctype="multipart/form-data" method="post">


          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="inputEmail4">Product Name</label>
              <input  name="productName"type="text" class="form-control" id="inputEmail4" value="<%= editProduct.ProductName %>" >
            </div>
            <div class="form-group col-md-3">
              <label for="inputPassword4">Price</label>
              <input name="price" type="text" class="form-control" id="inputPassword4" value="<%= editProduct.Price %>" >
            </div>

          </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="inputPassword4">Quantity</label>
              <input name="quantity" type="text" class="form-control" id="inputPassword4" value="<%= editProduct.Quantity %>" >
            </div>

          </div>
          <label for="category">Select Category</label>

        <select style="margin-bottom : 20px;" name="category" class="form-control col-md-3" value="<%= editProduct.Category %>" required="true">
          <option value="" selected disabled hidden>Choose here</option>
          <option  value="Fruits/Vegetables">Fruits/Vegetables</option>
          <option  value="Chocolates">Chocolates</option>
          <option  value="Decorative Things">Decorative Things</option>
          <option  value="Home accomodities">Home accomodities</option>
          <option  value="Shoes">Shoes</option>
          <option  value="Stationery">Stationery</option>
          <option  value="Utensils">Utensils</option>
          <option  value="Men's Wear">Men's Wear</option>
          <option  value="Women's Wear">Women's Wear</option>
        </select>


        <div class="form-group">
          <label for="inputAddress">Add some description</label>
          <input name="description" type="text" class="form-control" id="inputAddress" value="<%= editProduct.Description %>" >
        </div>




     <label for="exampleFormControlFile1">Upload Main Image(Only PNG files allowed)</label>
     <input class="imgInput" name="file" type="file" class="form-control-file" id="exampleFormControlFile1" required="true" >
     <input type="hidden" name="productID" value="<%= editProduct.ProductID %> ">
   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
      </div>

    </div>
  </div>
</div>




    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script type="text/javascript">
  var inputImage = document.querySelector("imgInput");

  if(inputImage.value == ''){

  }
</script>
  </body>
</html>
